<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini messages!</title>
</head>
<body>
    <h1>Welcome to mini messages!</h1>
    <div>
        <h2>Last messages</h2>
        <% msg.map(msg => { %>
            <div>
                <h3><%= msg.user %></h3>
                <p><%= msg.msg %></p>
                <p><%= msg.added %></p>
                <p>likes: <%= msg.likes %></p>
                <button class="like-btn" data-msgId=<%= msg.id %>>like</button>
            </div>
        <%})%>
    </div>
    <script>
        const likeBtns = document.querySelectorAll('.like-btn');

        likeBtns.forEach(btn => {
            btn.addEventListener('click', () => {
            const msgId = btn.getAttribute('data-msgId');
            console.log(msgId)
            fetch('/', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({msgId: msgId})
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    alert('liked!');
                    location.reload();
                    return;
                } 

                alert('error liking msg');
            })
            .catch(e => console.error(e));
        });
        });
    </script>
</body>
</html>